body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.contenedor {
    width: 100%;
    height: 100vh;
    background-image: url("img/mapa.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.tabla {
    position: absolute;
    width: 300px;
    height: 380px;
    background: wheat;
    border: 5px solid #5a3b1e;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    transition: transform .2s, box-shadow .2s;
    overflow: hidden; 
     font-family: 'Alfa Slab One', cursive;
    background-image: repeating-linear-gradient(
        45deg,
        rgba(0,0,0,0.02),
        rgba(0,0,0,0.02) 2px,
        transparent 2px,
        transparent 8px
    );
}

.tabla img {
    width: 90%;
    height: 70%;
    object-fit: contain; 
    display: block;
    margin: 0 auto;
}

.titulo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.recompensa {
    margin-top: 5px;
    font-size: 18px;
}

.tabla1 {
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%) rotate(-2deg);
}

.tabla2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(3deg);
}

.tabla3 {
    top: 73%;
    left: 70%;
    transform: translate(-50%, -50%) rotate(-4deg);
}

.tabla:hover {
    transform: translate(-50%, -50%) scale(1.08) rotate(0deg);
    box-shadow: 0 12px 25px rgba(0,0,0,0.7);
}
