body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background: #111;
  color: white;
  padding: 40px;
  text-align: center;
}

.proyectos {
  padding: 30px;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.card a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  background: #111;
  color: white;
  padding: 8px 15px;
  border-radius: 6px;
}
